* {
  box-sizing: border-box;
}

/*
  Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
  */
html,
body,
figure {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

/* Default font and size */
body {
  /* center vertically */
  //display: flex;
  //flex-flow: row nowrap;
  justify-content: center;
  align-content: center;

  /* background behind the plot */
  background: rgb(40, 40, 40);

  /* default text */
  font-family: sans-serif;
  font-size: 6px;
}

svg {
  text-anchor: middle;
  dominant-baseline: central;
  overflow: hidden;

  g {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));      
    filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));  

  }
}

#circular_plot {
  circle {
    fill: #FFC400;
  }

  text {
    fill: #fff;
  }

  #circular_plot_core {
    text {
      fill: #333333
    }
  }

  font-family: Roboto;
  font-style: normal;

  .class_core path {
    fill: #D32F2F;
    border-radius: 10px;
  }

  .class_optional path {
    fill: #F57C00;
  }

  .class_shs path {
    fill: #9A0036;
  }

  .class_core_suggestion path {
    fill: #D32F2F;
    opacity: 45%;
  }

  .class_optional_suggestion path {
    fill: #F57C00;
    opacity: 45%;
  }

  .class_shs_suggestion path {
    fill: #9A0036;
    opacity: 45%;
  }

  .class_not_in_plan_suggestion path {
    fill:#ef9a9a;
    opacity: 45%;
  }

  .petals {
    font-size: 6px;
  }

  #GPA {
    font-size: 20px;
  }
}


#header text {
  font-size: 14px;
  fill: white;
  font-family: "Georgia";
}

#requirementsTable {
  font-size: 8px;
  fill: white;
  font-family: "Palatino", "serif";
  text-anchor: start;
}

.legend {
  font-family: "Raleway", sans-serif;
  fill: white;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

text {
  fill: #fff;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #fed966;
  stroke-width: 1;
  stroke-dasharray: 2;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9faaae;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 0px;
  fill: #2f4a6d;
}

text.value {
  font-size: 5px;
}

.LoadingElement {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
​ text.title {
  font-size: 8px;
  font-weight: 500;
}

text.label {
  font-size: 8px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}

#petalTooltip {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 6px 6px;
  border-radius: 6px;
  font-size: 10px;

  p {
    padding: 0;
    margin: 0;
  }

  p:empty {
    margin: 10px;
  }
}

.MuiLinearProgress-bar {
  border-radius: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.radarChart {
  text-align: center;
}
