* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background: rgb(40, 40, 40);

	/* default text */
	font-family: sans-serif;
  font-size: 0.3rem;
  
  /* svg */
  text-anchor: middle;
  dominant-baseline: central;
}

#drop_zone rect {
  fill: gray;
  opacity: 0.5;
  stroke-width:2;
  stroke: white;
}

#drop_zone text {
  fill: white;
}


#circular_plot circle {
  fill: burlywood;
}

#circular_plot text {
  fill: white;
}

#circular_plot .class_core {
  fill: green;
}

#circular_plot .class_optional {
  fill: blue;
}

#circular_plot .class_shs {
  fill: red;
}